.landing {
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.landing img {
    object-fit: cover;
}

.content {
    position: absolute;
    top: 30%;
    left: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.slider {
    position: absolute;
    bottom: 2rem;
    display: flex;
    color: white;
    white-space: nowrap;
    /* animation: scroll 8s linear infinite alternate-reverse both; */
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.slider p {
    font-size: 250px;
}
